body {
    background-color: #cfd0ca;
    margin: 0;
    padding: 0;
    font-size: var(--font-size);
    font-family: var(--font-space-grotesk);

}
:root {
    --pri-color : #222222;
    --sec-color : #7b7b7b;
   --tertiary-color: #f8f8f8;
    --font-size: 18px;

}
:root {
  --font-space-grotesk: 'Space Grotesk', sans-serif;
  --font-rubic: 'Rubic', sans-serif;
}



nav {
    background-color: transparent;
     transition: background-color 0.3s ease, box-shadow 0.3s ease;
    z-index: 1000;
    top: 0;
    left: 0;
    padding: 0 6rem;
    padding-bottom: 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    
}
.nav-bar.scrolled {
  background-color: #e4e2e2; /* or var(--tertiary-color) */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.pro-info {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    
}

.linkss {
    display: flex;
    gap: 1.5rem;
    
    width: 800px;
    float: right;
}

.linkss a {
    text-decoration: none;
    color: var(--pri-color);
    font-size: 20px;
    position: relative;
    transition: color 0.5s;
    font-weight: bolder;
    margin-right: 10px;
}

.linkss a::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    left: 0;
    bottom: -4px;
    background-color: var(--pri-color);
    transition: width 0.5s ease;
}



.linkss a:hover::after {
    width: 100%;
}
.pro-info {
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
}
.pro-img {
    width: 27px;
    height: 27px;
    margin-top: 17px;
    padding-right: 12px;
    cursor: pointer;
}
.pro-info p {
    margin-top: 20px;
}
.pro-info a {
    text-decoration: none;
    color: var(--pri-color);
}



/* HOME or ABOUT */

.home {
    position: relative;
    width: 100%;
    display: flex;
    
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    /* padding: 70px 10% 0; */
    

}
.home-content {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 100px;

}

.responsive {
    margin-top: 30px;
    width: 100%;
    height: 500px;
    object-fit: contain;
    border-radius: 25px;
   
    box-shadow: 11px 11px 5px rgb(113, 109, 109);
    cursor: progress;
    
}
.home-info {
    
    margin-left: 150px;
    margin-top: 100px;
    margin-right: 100px;
    padding: 0;
    color: var(--pri-color);
    font-family: var(--font-space-grotesk);
    
}
.home-info h3 {
    font-size: 48px;
    font-family: var(--font-space-grotesk);
    margin: 0;
    color: var(--pri-color);
    
}
.home-info h1 {
    font-size: 60px;
    margin: 0;
    margin-top:15px;
}
.home-info h4 {
    font-size: 30px;
   margin: 0;
    margin-top: 15px;
}
.home-info p {
    font-size: 18px;
    margin: 0;
    margin-bottom: 10px;
}



.home-info-buttons {
    margin: 40px;
   
}

.home-btn {
   height: 50px;
   font-size: 20px;
   color: var(--pri-color);
    outline: none;
    border: none;
    border-radius: 60px;
    margin: 0;
    cursor: pointer;
    transition: background-color 0.5s ease, transform 0.5s ease;
    
    
}
.home-resume-btn {
    margin-right: 30px;
    width: 130px;

}
.home-email-btn {
    width: 270px;
}
.home-btn:hover {
    background-color: white;
    box-shadow: 0px 0px 5px rgb(117, 112, 112);
    transform: scale(1.04);

}





/* 

HOME DOWN ABOUT */

.home-down-about {
    display: flex;
    flex-direction: row;
    margin: 10px;
    margin-right: 150px;
    /* background-color: red; */
    /* padding: 50px; */
}








